<ion-toolbar class="header">
  <ion-title>Cotisse</ion-title>
  <ion-buttons slot="end" [routerDirection]="'root'" [routerLink]="'/search'">
    <ion-icon slot="icon-only" name="search"></ion-icon>
  </ion-buttons>
</ion-toolbar>