<div class="signup-container">
  <div class="signup-content">
    <div class="signup-title">
      <div>Cotisse Tansport</div>
      <div>Sign In</div>
    </div>
    <form class="signup-form">
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="">Birthday</label>
        <input type="text" placeholder="Birthday">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="">Phone number</label>
        <input type="text" placeholder="Phone number">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button class="btn" type="button" (click)="signup()">Registrate</button>
      </div>
    </form>
    <div class="signin-link">
      Have an account?<span routerLink=""> Sign In</span>
    </div>
  </div>
</div>
