<ion-content>
  <div class="header">
    <button class="back-button" (click)="gotback()"><ion-icon name="arrow-back"></ion-icon> Back</button>
  </div>
  <div class="container">
    <form onsubmit="processForm(event)">
      <div class="search-container">
        <div class="form-list">
          <div class="depart-form">
            <label for="depart">Depart</label>
            <select name="depart" [(ngModel)]="tripSearch.idDeparture">
              <option *ngFor="let city of cities" value="{{ city.idCity }}">{{ city.label }}</option>
            </select>
          </div>
          <div class="arrival-form">
            <label for="arrival">Arrival</label>
            <select name="arrival" [(ngModel)]="tripSearch.idArrival">
              <option *ngFor="let city of cities" value="{{ city.idCity }}">{{ city.label }}</option>
            </select>
          </div>
        </div>
        <div class="form-list">
          <div class="form-date">
            <label for="departureDate">Date</label>
            <input [(ngModel)]="tripSearch.departureDate" name="departureDate" type="text" placeholder="YYYY-MM-DD">
          </div>
        </div>
        <div class="btn-search">
          <button type="button" name="button" class="" (click)="search()">Search</button>
        </div>
      </div>
    </form>
    <div class="result-container">
        <div class="destn" *ngFor="let trip of listTrip">
          <div class="categ vip"><h3>{{ trip.label }}</h3></div>
          <div class="departure">
            Departure: <h5>{{ trip.time }}</h5>
          </div>
          <div class="info">
            <div class="nb-place">Seats: <h5>9</h5></div>
            <div class="total-price">Price: <h5>{{ trip.destnPrice }} Ar</h5></div>
          </div>
          <div class="dest">
            <div class="dest-departure"><h4>{{ trip.departure }}</h4></div>
            <div class="dest-arrival"><h4>{{ trip.arrival }}</h4></div>
          </div>
          <div class="reserv-icon"></div>
        </div>
    </div>
  </div>
</ion-content>
