@import '../../../global.scss';

ion-content{
    --background: var(--color-solitude);
}

.back-button{
  background-color: rgba(0,0,0,0);
  color: var(--color-slate-gray);
  font-weight: bold;
  font-size: 1.4em;
  margin: 10px 10px;
  display: flex;
  align-items: center;
}

.back-button:focus{
  outline: inherit;
}

.container{
  margin: 20px;
}

.search-container{
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.filtre-container{
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.form-list{
  display: flex;
  font-size: 1.2em;
  margin-bottom: 20px;

  color: var(--color-slate-gray);
  font-weight: bold;
  text-transform: capitalize;

  div{
    width: 100%;
    margin-right: 20px;
  }

  div:last-of-type{
    margin-right: 0;
  }

  .form-date input, .form-nb input{
      width: 100%;
  }
  .depart-form, .arrival-form, .form-date, .form-nb{
    width: 100%;
    margin-right: 20px;
    label{
      display: block;
      margin-bottom: 10px;
    }
  }
  .depart-form, .arrival-form{
    select{
      margin-top: 5px;
      color: var(--color-inactive);
      background-color: rgba(0,0,0,0);
      border: none;
    }
    select:focus{
      outline: none;
    }
  }
  .form-date, .form-nb{
    input{
      border: none;
      color: var(--color-inactive);
      border-bottom: 1px solid var(--color-inactive);
    }

    input::placeholder{
      color:var(--color-inactive);
    }

    input:focus{
      border-color:var(--color-slate-gray);
      outline: none;
    }
  }

  .form-categ, .form-time{
    div:first-of-type{
      text-align: center;
      font-size: 1.1em;
      margin-bottom: 10px;
    }
    input[type="radio"]{
      -webkit-appearance: none;
      border-radius: 15px;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      border:1px solid #d5d5d5;
      background-color: #d5d5d5;
    }
    input[type="radio"]:checked{
      outline: none;
      border-color: var(--color-slate-gray);
      background-color: var(--color-slate-gray);
    }
  }

  .btn-search{
    width: 100%;
    padding-top: 10px;
    font-size: 1.2em;
  }
}


/* LIST */
.destn{
  margin: 10px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  -moz-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  .categ{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
  .departure{
    width: 100%;
    text-align: center;
    margin-bottom:7px;
    color: #888da8;
    h5{
      color: #515365;
      margin: 0;
      padding-left: 5px;
    }
  }

  .info{
    border-bottom: 1px dashed #e1e7f0;
    border-top: 1px dashed #e1e7f0;
    padding-top:10px;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding-bottom:15px;
    .nb-place, .total-price{
      display: flex;
      padding-left:20px;
      color: #888da8;
      h4{
        color: #515365;
        margin: 0;
        padding-left: 5px;
      }
    }
  }

  .dest{
    color: #515365;
    text-align: center;
    display: flex;
    justify-content: center;
    div:first-of-type h4::after{
      content: " - ";
    }
  }
}
