<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" style="font-size:200%;"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservation">
      <ion-icon name="bookmark" style="font-size:200%;"></ion-icon>
      <ion-label>Reservation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notif">
      <ion-icon name="notifications" style="font-size:200%;"></ion-icon>
      <ion-label>Notification</ion-label>
      <ion-badge>2</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
