<div class="login-container">
  <div class="login-content">
    <div class="login-title">
      <div>Cotisse Tansport</div>
      <div>Login</div>
    </div>
    <form class="login-form" onsubmit="processForm(event)">
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="email" name="email" type="text" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input [(ngModel)]="pwd" name="pwd" type="password" placeholder="Password" autocomplete="on">
      </div>
      <div class="form-group">
        <button class="btn" type="button" (click)="login()">Log to your account</button>
      </div>
    </form>
    <div class="signup-link">
      Don't have an account?<span routerLink="/signup"> Sign Up</span>
    </div>
  </div>
</div>
