.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  .login-content{
    width: 75%;
  }

  .login-title{
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    color: var(--color-slate-gray);
    div:first-of-type{
      font-size: 1.8em;
      margin-bottom: 10px;
    }
    div:last-of-type{
      font-size:1.4em;
    }
  }

  .login-form .form-group{
    margin-top: 20px;
  }

  .form-group{
    label{
      margin-bottom: 5px;
      font-size: 1.2em;
      font-weight: bold;
      color: var(--color-slate-gray);
    }
    input{
      border:none;
      outline: none;
      width: 100%;
      border-bottom: 1px solid var(--color-slate-gray);
      padding: 10px 0;
      font-size: 1.1em;
    }
    input::placeholder{
      color:var(--color-inactive);
    }
    input:focus{
      color:var(--color-inactive);
    }
    label, input{
      display: block;
    }

    .btn{
      width: 100%;
      padding: 12px 0;
      color: white;
      font-size: 1.1em;
      font-weight: bold;
      background-color: var(--color-slate-gray);
    }
  }

  .signup-link{
    text-align: center;
    margin-top: 20px;
    span{
      color: var(--color-slate-gray);
    }
  }
}
