
<ion-header>
  <header-cust></header-cust>
</ion-header>

<ion-content>
  <div class="reserv-container">
    <div class="reserv">
      <div class="categ vip"><h3>Vip</h3></div>
      <div class="departure">
        Departure<h5>2020-02-25 20:30</h5>
      </div>
      <div class="info">
        <div class="nb-place">Seats:<h5>2</h5></div>
        <div class="total-price">Total:<h4>120 000 Ar</h4></div>
      </div>
      <div class="dest">
        <div class="dest-departure"><h4>Antananarivo</h4></div>
        <div class="dest-arrival"><h4>Toamasina</h4></div>
      </div>
      <div class="reserv-icon"></div>
    </div>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="done-all"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
