@import '../../../global.scss';

ion-content{
    --background: var(--color-solitude);
}

.reserv-container{
  width: 100%;
}

.reserv{
  margin: 10px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  -moz-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  .categ{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
  .departure{
    width: 100%;
    text-align: center;
    margin-bottom:7px;
    color: #888da8;
    h5{
      color: #515365;
    }
  }

  .info{
    border-bottom: 1px dashed #e1e7f0;
    border-top: 1px dashed #e1e7f0;
    padding-top:10px;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding-bottom:15px;
    .nb-place, .total-price{
      display: flex;
      padding-left:20px;
      color: #888da8;
      h4{
        color: #515365;
        margin: 0;
        padding-left: 5px;
      }
    }
  }

  .dest{
    color: #515365;
    text-align: center;
    display: flex;
    justify-content: center;
    div:first-of-type h4::after{
      content: " - ";
    }
  }
}
