<ion-header>
  <header-cust></header-cust>
</ion-header>

<ion-content>
  <div class="dest-items">
    <div class="dest-item">
      <div class="dest-path">
        <div class="dest-from">Antananarivo</div>
        <div class="dest-to">Toamasina</div>
      </div>
      <div class="dest-categs">
        <table class="dest-categs-table">
          <tbody>
            <tr class="dest-categ">
              <td class="categ-vip">VIP</td>
              <td>Ar 60000</td>
            </tr>
            <tr class="dest-categ">
              <td class="categ-prenium">Prenium</td>
              <td>Ar 45000</td>
            </tr>
            <tr class="dest-categ">
              <td class="categ-lite">Lite</td>
              <td>Ar 30000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dest-item">
      <div class="dest-path">
        <div class="dest-from">Antananarivo</div>
        <div class="dest-to">Mahajanga</div>
      </div>
      <div class="dest-categs">
        <table class="dest-categs-table">
          <tbody>
            <tr class="dest-categ">
              <td class="categ-vip">VIP</td>
              <td>Ar 60000</td>
            </tr>
            <tr class="dest-categ">
              <td class="categ-prenium">Prenium</td>
              <td>Ar 45000</td>
            </tr>
            <tr class="dest-categ">
              <td class="categ-lite">Lite</td>
              <td>Ar 30000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dest-item">
      <div class="dest-path">
        <div class="dest-from">Antananarivo</div>
        <div class="dest-to">Antsirabe</div>
      </div>
      <div class="dest-categs">
        <table class="dest-categs-table">
          <tbody>
            <tr class="dest-categ">
              <td class="categ-vip">VIP</td>
              <td>Ar 60000</td>
            </tr>
            <tr class="dest-categ">
              <td class="categ-prenium">Prenium</td>
              <td>Ar 45000</td>
            </tr>
            <tr class="dest-categ">
              <td class="categ-lite">Lite</td>
              <td>Ar 30000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ion-content>
