@import '../../../global.scss';

ion-content{
    --background: var(--color-solitude);
}

.dest-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.dest-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  -moz-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
  box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
}

.dest-item:first-child{
  margin-top: 20px;
}

.dest-path{
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-slate-gray);
  width:50%;
  text-align: center;
  border-right: 1px solid var(--color-solitude);
}

.dest-path div{
  padding: 20px 10px;
}

.dest-categs{
  width:50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.dest-categs-table{
  width: 100%;
}

.dest-categs-table tr{
  border-bottom: 1px solid var(--color-solitude);
}

.dest-categs-table tr:last-of-type{
  border-bottom: none;
}

.dest-categ td{
  padding:10px;
}

.dest-categ td:last-of-type{
  text-align: right;
}

.categ-vip{
  color:var(--color-vip);
}

.categ-prenium{
  color:var(--color-prenium);
}

.categ-lite{
  color:var(--color-lite);
}
/*.dest-item{
    width: 100%;
    padding: 16px 16px;
    margin-top:20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
    -moz-box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
    box-shadow: 3px 3px 15px 1px rgba(186,186,186,0.2);
}

.dest-item-header{
    color: #515365;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.dest-item-header span:first-of-type::after{
    content: ' - ';
}

.dest-item-body{
    margin-top: 10px;
    text-align: center;
}

.dest-item-body table{
    width: 100%;
}

.dest-categ{
    padding: 10px;
}

.vip{
    color: #f39c12;
}

.prenium{
    color: #0f9aee;
}

.lite{
    color: #888da8;
}*/
